[Unit]
Description=Greenhouse start script (user session)
After=default.target

[Service]
Type=oneshot
ExecStart=__IVY_REPOSITY_PATH__/systemd/scripts/user.start.sh
RemainAfterExit=yes
StandardOutput=append:__LOG_DIR__/greenhouse.start.log
StandardError=append:__LOG_DIR__/greenhouse.start.log

[Install]
WantedBy=default.target