services:

  jellyfin:
    image: jellyfin/jellyfin:2025120105
    container_name: ${ENV}-jellyfin
    scale: ${greenhouse_scale_jellyfin:-0}
    networks:
      greenhouse-infra:
        ipv4_address: ${greenhouse_jellyfin_ip}
    ports:
      - 7359:7359/udp # Client Discovery
      - 1900:1900/udp # DLNA
    volumes:
      - ${greenhouse_jellyfin_config_path:-${PWD}/jellyfin/${ENV}/config}:/config
      - ${greenhouse_jellyfin_cache_path:-${PWD}/jellyfin/${ENV}/cache}:/cache
      - type: bind
        source: ${greenhouse_jellyfin_bind_media_path}
        target: /media
    restart: always
    labels:
      traefik.enable: true
      # ROUTER
      traefik.http.routers.jellyfin.rule: Host(`${greenhouse_jellyfin_host:-jellyfin.${DOMAIN}}`)
      traefik.http.routers.jellyfin.entrypoints: https
      traefik.http.routers.jellyfin.tls.certresolver: greenhouse-resolver
      # SERVICE
      traefik.http.services.jellyfin.loadbalancer.server.port: 8096
      raefik.http.routers.jellyfin.middlewares: authentik@docker
  
  nextcloud:
    depends_on:
      nextcloud-postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    image: nextcloud:31.0.13
    container_name: ${ENV}-nextcloud
    scale: ${greenhouse_scale_nextcloud:-0}
    networks:
      greenhouse-infra:
    secrets:
      - nextcloud_admin_username
      - nextcloud_admin_password
      - postgres_nextcloud_db
      - postgres_nextcloud_username
      - postgres_nextcloud_password
    environment:
      POSTGRES_HOST: nextcloud-postgres:${greenhouse_nextcloud_postgres_port:-5432}
      POSTGRES_DB_FILE: /run/secrets/postgres_nextcloud_db
      POSTGRES_USER_FILE: /run/secrets/postgres_nextcloud_username
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_nextcloud_password

      NEXTCLOUD_ADMIN_USER_FILE: /run/secrets/nextcloud_admin_username
      NEXTCLOUD_ADMIN_PASSWORD_FILE: /run/secrets/nextcloud_admin_password

      REDIS_HOST: redis
      REDIS_HOST_PORT: ${greenhouse_redis_port:-6379}
    volumes:
      - ${greenhouse_nextcloud_vol_main:-${PWD}/nextcloud/main}:/var/www/html
      - ${greenhouse_nextcloud_vol_apps:-${PWD}/nextcloud/apps}:/var/www/html/custom_apps
      - ${greenhouse_nextcloud_vol_config:-${PWD}/nextcloud/config}:/var/www/html/config
      - ${greenhouse_nextcloud_vol_data:-${PWD}/nextcloud/data}:/var/www/html/data
    restart: always
    labels:
      traefik.enable: true
      # ROUTER
      traefik.http.routers.cloud.rule: Host(`${greenhouse_nextcloud_host:-cloud.${DOMAIN}}`)
      traefik.http.routers.cloud.entrypoints: https
      traefik.http.routers.cloud.tls.certresolver: greenhouse-resolver
      # SERVICE
      traefik.http.services.cloud.loadbalancer.server.port: 80
      # MIDDLEWARE
      raefik.http.routers.cloud.middlewares: authentik@docker

  nextcloud-postgres:
    image: postgres:${greenhouse_nextcloud_postgres_version:-${greenhouse_postgres_general_version:-18.1}}
    container_name: ${ENV}-nextcloud-db
    scale: ${greenhouse_scale_nextcloud:-0}
    networks:
      greenhouse-infra:
    ports:
      - ${greenhouse_nextcloud_postgres_port:-5432}:${greenhouse_nextcloud_postgres_port:-5432}
    secrets:
      - postgres_nextcloud_db
      - postgres_nextcloud_username
      - postgres_nextcloud_password
    environment:
      PGPORT: ${greenhouse_nextcloud_postgres_port:-5432}
      POSTGRES_DB_FILE: /run/secrets/postgres_nextcloud_db
      POSTGRES_USER_FILE: /run/secrets/postgres_nextcloud_username
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_nextcloud_password
    volumes:
      - ${greenhouse_nextcloud_vol_postgres:-${PWD}/nextcloud-postgres}:/var/lib/postgresql
    restart: unless-stopped
    healthcheck:
      test: 
        - CMD-SHELL
        - pg_isready -d $$(cat /run/secrets/postgres_nextcloud_db) -U $$(cat /run/secrets/postgres_nextcloud_username)
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    labels:
      traefik.enable: false

secrets:
  nextcloud_admin_username:
    file: ${greenhouse_nextcloud_secret_username_filepath:-${PWD}/secrets/nextcloud_admin_username}
  nextcloud_admin_password:
    file: ${greenhouse_nextcloud_secret_password_filepath:-${PWD}/secrets/nextcloud_admin_password}
  
  postgres_nextcloud_db:
    file: ${greenhouse_nextcloud_secret_postgres_db_filepath:-${PWD}/secrets/postgres_nextcloud_db}
  postgres_nextcloud_username:
    file: ${greenhouse_nextcloud_secret_postgres_username_filepath:-${PWD}/secrets/postgres_nextcloud_username}
  postgres_nextcloud_password:
    file: ${greenhouse_nextcloud_secret_postgres_password_filepath:-${PWD}/secrets/postgres_nextcloud_password}