networks:
  greenhouse-infra:
    name: ${greenhouse_network_name:-${ENV}-greenhouse-infra}
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: "1500"
    ipam:
      config:
        - subnet: ${greenhouse_network_subnet}
          gateway: ${greenhouse_network_gateway}

secrets:
  redis_password:
    file: ${greenhouse_secret_redis_password_filepath:-${PWD}/env/secrets/redis_password}

include:
  - docker-compose.redis.yml
  - docker-compose.critical.yml
  - docker-compose.monitoring.yml
  - docker-compose.proxy.yml
  - docker-compose.cloud.yml
  - docker-compose.apps.yml
  - docker-compose.zero.trust.yml