services:

  traefik:
    depends_on:
      ca-server:
        condition: service_healthy
    image: traefik:3.6.6
    networks:
      greenhouse-infra:
    container_name: ${ENV}-traefik
    scale: ${greenhouse_scale_traefik:-1}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${greenhouse_traefik_ca_cert:-$greenhouse_ca_volume_certs/root_ca.crt}:/ca-certs/greenhouse.${ENV}.crt:ro
      - ${greenhouse_traefik_letsencrypt:-${PWD}/traefik/${ENV}/certificate}:/certificate
    ports:
      - 8081:8080
      - 80:80          # HTTP
      - 443:443/tcp    # HTTPS & DoH
      - 443:443/udp    # HTTPS & DoH
    restart: unless-stopped
    environment:
      LEGO_CA_CERTIFICATES: /ca-certs/greenhouse.${ENV}.crt
    command:
      - --log.level=${greenhouse_traefik_log_level:-INFO}
      
      - --api.dashboard=${greenhouse_traefik_api_dashboard:-false}
      - --api.insecure=${greenhouse_traefik_api_dashboard:-false}

      - --providers.docker.exposedByDefault=false
      - --providers.docker.network=${greenhouse_network_name:-${ENV}-greenhouse-infra}
      - --providers.docker.watch=true
      - --providers.docker.endpoint=unix:///var/run/docker.sock

      - --entryPoints.http.address=:80
      - --entrypoints.http.http.redirections.entrypoint.to=:443
      - --entryPoints.http.http.redirections.entrypoint.scheme=https
      - --entryPoints.https.address=:443

      - --entrypoints.https.http.tls.certresolver=greenhouse-resolver
      - --certificatesresolvers.greenhouse-resolver.acme.email=${greenhouse_traefik_acme_email}
      - --certificatesresolvers.greenhouse-resolver.acme.certificatesDuration=${greenhouse_traefik_acme_certificates_duration:-24}
      - --certificatesresolvers.greenhouse-resolver.acme.storage=/certificate/acme.json
      - --certificatesresolvers.greenhouse-resolver.acme.caServer=https://${greenhouse_ca_host}:${greenhouse_ca_port:-9000}/acme/${greenhouse_ca_acme:-greenhouse-acme}/directory
      - --certificatesresolvers.greenhouse-resolver.acme.dnschallenge=false
      - --certificatesresolvers.greenhouse-resolver.acme.httpchallenge=false
      - --certificatesresolvers.greenhouse-resolver.acme.tlschallenge=true

    labels:
      traefik.enable: true
      # ROUTER
      traefik.http.routers.dashboard.rule: Host(`${greenhouse_traefik_host:-traefik.${DOMAIN}}`)
      traefik.http.routers.dashboard.entrypoints: https
      traefik.http.routers.dashboard.service: api@internal
      # SERVICE
      # MIDDLEWARE
      traefik.http.middlewares.acme-allow.redirectregex.regex: "^https://(.+)/\\.well-known/acme-challenge/(.*)"
      traefik.http.middlewares.acme-allow.redirectregex.replacement: "http://$${1}/.well-known/acme-challenge/$${2}"
      traefik.http.middlewares.acme-allow.redirectregex.permanent: false

      traefik.http.middlewares.authentik.forwardAuth.address: http://authentik-server:${greenhouse_auth_http_port:-9000}/outpost.goauthentik.io/auth/traefik
      traefik.http.middlewares.authentik.forwardauth.trustForwardHeader: true
      traefik.http.middlewares.authentik.forwardauth.authResponseHeaders: X-authentik-username,X-authentik-groups,X-authentik-entitlements,X-authentik-email,X-authentik-name,X-authentik-uid,X-authentik-jwt,X-authentik-meta-jwks,X-authentik-meta-outpost,X-authentik-meta-provider,X-authentik-meta-app,X-authentik-meta-version

      traefik.http.routers.dashboard.middlewares: authentik@docker