services:

  nginx:
    image: nginx:1.25.3
    networks:
      greenhouse-infra:
        ipv4_address: ${greenhouse_nginx_static_pages_ip}
    container_name: ${ENV}-nginx-static-pages
    scale: ${greenhouse_scale_nginx:-1}
    volumes:
      - ${greenhouse_nginx_static_pages_volume_conf:-${PWD}/nginx/${ENV}/conf}:/etc/nginx/conf.d:ro
      - ${greenhouse_nginx_static_pages_volume_html:-${PWD}/nginx/${ENV}/html}:/usr/share/nginx/html
    restart: always
    labels:
      traefik.enable: true
      # ROUTER
      traefik.http.routers.nginx-static-pages.rule: Host(`${greenhouse_nginx_static_pages_host:-${DOMAIN}}`)
      traefik.http.routers.nginx-static-pages.entrypoints: https
      traefik.http.routers.nginx-static-pages.tls.certresolver: greenhouse-resolver
      # SERVICE
      traefik.http.services.nginx-static-pages.loadbalancer.server.port: 80
      # MIDDLEWARE

  noip-sync:
    image: noipcom/noip-duc:3.3.0
    env_file: ${PWD}/env/noip/.${ENV}.env
    container_name: ${ENV}-noip-sync
    scale: ${greenhouse_scale_noip_sync:-0}
    labels:
      traefik.enable: false

  whoami:
    image: traefik/whoami
    networks:
      greenhouse-infra:
        ipv4_address: ${greenhouse_traefik_whoami_ip}
    scale: ${greenhouse_scale_traefik_whoami:-1}
    restart: always
    labels:
      traefik.enable: true
      # ROUTER
      traefik.http.routers.whoami.rule: Host(`${greenhouse_traefik_whoami_host:-traefik.${DOMAIN}}`) && Path(`/whoami`)
      traefik.http.routers.whoami.entrypoints: https
      traefik.http.routers.whoami.tls.certresolver: greenhouse-resolver
      # SERVICE
      traefik.http.services.whoami-service.loadbalancer.server.port: 80
      # MIDDLEWARE

  # The official image does not support RPI, so I have to move to ertagh image.
  # I'm not happy but it has half million o fdownloads...
  teamspeak:
    image: ${greenhouse_teamspeak_image:-ertagh/teamspeak3-server}
    networks:
      greenhouse-infra:
        ipv4_address: ${greenhouse_teamspeak_ip}
    container_name: ${ENV}-teamspeak
    scale: ${greenhouse_scale_teamspeak:-0}
    ports:
      - ${greenhouse_teamspeak_port_voice:-9987}:9987/udp   # Voice
      - ${greenhouse_teamspeak_port_query:-10011}:10011     # ServerQuery
      - ${greenhouse_teamspeak_port_file:-30033}:30033      # File transfer
    environment:
      INIFILE: 1
      DIST_UPDATE: 0
      TS_UPDATE: 0
      TS_UPDATE_BACKUP: 0
    restart: always
    labels:
      traefik.enable: true