services:

  ca-server:
    image: smallstep/step-ca:0.28.4
    networks:
      greenhouse-infra:
        ipv4_address: ${greenhouse_ca_ip}
    container_name: ${ENV}-ca
    scale: ${greenhouse_scale_ca:-0}
    dns: ${greenhouse_adguard_ip}
    ports:
      - ${greenhouse_ca_port:-9000}:9000
    secrets:
      - step-ca_password
    restart: unless-stopped
    environment:
      DOCKER_STEPCA_INIT_NAME: ${greenhouse_ca_config_name}
      DOCKER_STEPCA_INIT_DNS_NAMES: ${greenhouse_ca_config_dns_names}
      DOCKER_STEPCA_INIT_PROVISIONER_NAME: ${greenhouse_ca_config_provisioner_name:-admin}
      DOCKER_STEPCA_INIT_SSH: ${greenhouse_ca_config_ssh:-false}
      DOCKER_STEPCA_INIT_ACME: ${greenhouse_ca_acme:-greenhouse-acme}
      DOCKER_STEPCA_INIT_PASSWORD_FILE: /run/secrets/step-ca_password

      PGDATABASE: ${greenhouse_ca_postgres_db}
      PGUSER: ${greenhouse_ca_postgres_user}
      PGHOST: ca-postgres
      PGPORT: ${greenhouse_ca_postgres_port:-5432}
      PGPASSWORD : ${greenhouse_ca_postgres_password}
    volumes:
      - ${greenhouse_ca_volume_certs:-${PWD}/step-ca/${ENV}/certs}:/home/step/certs
      - ${greenhouse_ca_volume_secrets:-${PWD}/step-ca/${ENV}/secrets}:/home/step/secrets
      - ${greenhouse_ca_volume_config:-${PWD}/step-ca/${ENV}/config}:/home/step/config
      - ${greenhouse_ca_volume_db:-${PWD}/step-ca/${ENV}/db}:/home/step/db
      - ${greenhouse_ca_volume_main:-${PWD}/step-ca/${ENV}/main}:/home/step
    depends_on:
      - ca-postgres
    labels:
      traefik.enable: false
      traefik.docker.network: none

  ca-postgres:
    image: postgres:${greenhouse_ca_postgres_version:-${greenhouse_postgres_general_version}}
    container_name: ${ENV}-ca-postgres
    scale: ${greenhouse_scale_ca:-0}
    networks:
      greenhouse-infra:
    ports:
      - ${greenhouse_ca_postgres_port:-5432}:${greenhouse_ca_postgres_port:-5432}
    environment:
      PGPORT: ${greenhouse_ca_postgres_port:-5432}
      POSTGRES_DB: ${greenhouse_ca_postgres_db}
      POSTGRES_USER: ${greenhouse_ca_postgres_user}
      POSTGRES_PASSWORD: ${greenhouse_ca_postgres_password}
    volumes:
      - ${greenhouse_ca_postgres_vol:-${PWD}/ca-postgres}:/var/lib/postgresql
    restart: always
    labels:
      traefik.enable: false

  adguard:
    image: adguard/adguardhome:v0.107.69
    networks:
      greenhouse-infra:
        ipv4_address: ${greenhouse_adguard_ip}
    container_name: ${ENV}-adguard
    scale: ${greenhouse_scale_adguard:-1}
    ports:
      # - 3000:3000 # Initial Config port. Remove comment only on initial setup unlesss you copy our config.
      - 53:53/tcp # Adguard DNS
      - 53:53/udp # Adguard DNS
    volumes:
      - ${greenhouse_adguard_volume_work:-${PWD}/adguard/${ENV}/work}:/opt/adguardhome/work
      - ${greenhouse_adguard_volume_conf:-${PWD}/adguard/${ENV}/conf}:/opt/adguardhome/conf
      - ${greenhouse_ca_volume_certs:-./step-ca/${ENV}/certs}:/opt/adguardhome/certs
    restart: unless-stopped
    depends_on:
      - ca-server
    labels:
      traefik.enable: true
      ### Web UI Router
      # ROUTER
      traefik.http.routers.adguard-ui.rule: Host(`${greenhouse_adguard_host:-adguard.${DOMAIN}}`)
      traefik.http.routers.adguard-ui.entrypoints: https
      traefik.http.routers.adguard-ui.tls.certresolver: greenhouse-resolver
      # SERVICE
      traefik.http.services.adguard-ui.loadbalancer.server.port: 80
      # MIDDLEWARE
  
  authentik-server:
    image: authentik/server:${greenhouse_auth_image_version:-2025.10.3}
    networks:
      greenhouse-infra:
        ipv4_address: ${greenhouse_auth_ip_server}
    ports:
      - ${greenhouse_auth_https_port:-9443}:${greenhouse_auth_https_port:-9443}
      - ${greenhouse_auth_http_port:-9001}:${greenhouse_auth_http_port:-9001}
    container_name: ${ENV}-authentik-server
    scale: ${greenhouse_scale_auth:-1}
    secrets:
      - authentik_secret_key
      - postgres_auth_db
      - postgres_auth_username
      - postgres_auth_password
    environment:      
      AUTHENTIK_POSTGRESQL__HOST: authentik-postgres
      AUTHENTIK_POSTGRESQL__PORT: ${greenhouse_auth_postgres_port:-5432}
      AUTHENTIK_POSTGRESQL__USER: 'file:///run/secrets/postgres_auth_username'
      AUTHENTIK_POSTGRESQL__PASSWORD: 'file:///run/secrets/postgres_auth_password'
      AUTHENTIK_POSTGRESQL__NAME: 'file:///run/secrets/postgres_auth_db'

      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_REDIS__PORT: ${greenhouse_redis_port:-6379}
      AUTHENTIK_REDIS__PASSWORD: ${greenhouse_redis_password}

      AUTHENTIK_LISTEN__HTTP: localhost:${greenhouse_auth_http_port:-9001}
      AUTHENTIK_LISTEN__HTTPS: localhost:${greenhouse_auth_https_port:-9443}

      #AUTHENTIK_LISTEN__TRUSTED_PROXY_CIDRS: ${greenhouse_auth_trust_proxy_cidr:-127.0.0.0/8, 192.168.0.0/16}

      AUTHENTIK_LOG_LEVEL: ${greenhouse_auth_log_level:-info}
      AUTHENTIK_SECRET_KEY: 'file:///run/secrets/authentik_secret_key'

      #AUTHENTIK_EMAIL__HOST
      #AUTHENTIK_EMAIL__PORT
      #AUTHENTIK_EMAIL__USERNAME
      #AUTHENTIK_EMAIL__PASSWORD
      #AUTHENTIK_EMAIL__USE_TLS
      #AUTHENTIK_EMAIL__USE_SSL
      #AUTHENTIK_EMAIL__TIMEOUT
      #AUTHENTIK_EMAIL__FROM
    volumes:
      - ${greenhouse_auth_vol_media:-${PWD}/authentik/${ENV}/media}:/media
      - ${greenhouse_auth_mail_templates:-${PWD}/authentik/${ENV}/templates}:/templates
    depends_on:
      - authentik-postgres
    restart: unless-stopped
    command: server
    labels:
      traefik.enable: false
      #traefik.enable: true
      #### Web UI Router
      ## ROUTER
      #traefik.http.routers.auth.rule: Host(`${greenhouse_auth_host:-auth.${DOMAIN}}`)
      #traefik.http.routers.auth.entrypoints: https
      #traefik.http.routers.auth.tls.certresolver: greenhouse-resolver
      ## SERVICE
      #traefik.http.services.auth.loadbalancer.server.port: ${greenhouse_auth_https_port:-443}
      ## MIDDLEWARE

  authentik-worker:
    image: authentik/server:${greenhouse_auth_image_version:-2025.10.3}
    networks:
      greenhouse-infra:
        ipv4_address: ${greenhouse_auth_ip_worker}
    container_name: ${ENV}-authentik-worker
    scale: ${greenhouse_scale_auth:-1}
    secrets:
      - authentik_secret_key
      - postgres_auth_db
      - postgres_auth_username
      - postgres_auth_password
    environment:      
      AUTHENTIK_POSTGRESQL__HOST: authentik-postgres
      AUTHENTIK_POSTGRESQL__PORT: ${greenhouse_auth_postgres_port:-5432}
      AUTHENTIK_POSTGRESQL__USER: 'file:///run/secrets/postgres_auth_username'
      AUTHENTIK_POSTGRESQL__PASSWORD: 'file:///run/secrets/postgres_auth_password'
      AUTHENTIK_POSTGRESQL__NAME: 'file:///run/secrets/postgres_auth_db'

      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_REDIS__PORT: ${greenhouse_redis_port:-6379}
      AUTHENTIK_REDIS__PASSWORD: ${greenhouse_redis_password}

      AUTHENTIK_LOG_LEVEL: ${greenhouse_auth_log_level:-info}
      AUTHENTIK_SECRET_KEY: 'file:///run/secrets/authentik_secret_key'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${greenhouse_auth_vol_media:-${PWD}/authentik/${ENV}/media}:/media
      - ${greenhouse_auth_vol_certs:-${PWD}/authentik/${ENV}/certs}:/certs
      - ${greenhouse_auth_mail_templates:-${PWD}/authentik/${ENV}/templates}:/templates
    depends_on:
      - authentik-postgres
    restart: unless-stopped
    command: worker
    labels:
      traefik.enable: false

  authentik-postgres:
    image: postgres:${greenhouse_auth_postgres_version:-${greenhouse_postgres_general_version}}
    container_name: ${ENV}-authentik-postgres
    scale: ${greenhouse_scale_auth:-0}
    networks:
      greenhouse-infra:
    ports:
      - ${greenhouse_auth_postgres_port:-5432}:${greenhouse_auth_postgres_port:-5432}
    secrets:
      - postgres_auth_db
      - postgres_auth_username
      - postgres_auth_password
    environment:
      PGPORT: ${greenhouse_auth_postgres_port:-5432}
      POSTGRES_DB_FILE: /run/secrets/postgres_auth_db
      POSTGRES_USER_FILE: /run/secrets/postgres_auth_username
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_auth_password
    volumes:
      - ${greenhouse_auth_postgres_vol:-${PWD}/authentik-postgres}:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $$(cat /run/secrets/postgres_auth_db) -U $$(cat /run/secrets/postgres_auth_username)"]
      interval: 20s
      timeout: 30s
      retries: 5
      start_period: 5s
    restart: always
    labels:
      traefik.enable: false

secrets:
  step-ca_password:
    file: ${greenhouse_ca_secret_password_filepath:-${PWD}/env/secrets/step-ca_password}

  postgres_auth_db:
    file: ${greenhouse_secret_postgres_auth_db_filepath:-${PWD}/env/secrets/postgres_auth_db}
  postgres_auth_username:
    file: ${greenhouse_secret_postgres_auth_username_filepath:-${PWD}/env/secrets/postgres_auth_username}
  postgres_auth_password:
    file: ${greenhouse_secret_postgres_auth_password_filepath:-${PWD}/env/secrets/postgres_auth_password}
  
  authentik_secret_key:
    file: ${greenhouse_authentik_secret_key_filepath:-${PWD}/env/secrets/authentik_secret_key}