services:

  redis:
    image: redis:8.4.0
    container_name: ${ENV}-redis
    scale: ${greenhouse_scale_redis:-0}
    networks:
      greenhouse-infra:
    ports:
      - ${greenhouse_redis_port:-6379}:${greenhouse_redis_port:-6379}
    command: --port ${greenhouse_redis_port:-6379}
    volumes:
      - ${greenhouse_vol_redis:-${PWD}/redis}:/data
    restart: always
    healthcheck:
      test: 
      - "CMD"
      - "redis-cli"
      - "-p"
      - "${greenhouse_redis_port:-6379}"
      - "ping"
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    labels:
      traefik.enable: false

  it-tools:
    image: corentinth/it-tools:2024.10.22-7ca5933
    container_name: ${ENV}-it-tools
    scale: ${greenhouse_scale_it_tools:-0}
    networks:
      greenhouse-infra:
    labels:
      traefik.enable: true
      # ROUTER
      traefik.http.routers.it.rule: Host(`${greenhouse_it_tools_host:-it.${DOMAIN}}`)
      traefik.http.routers.it.entrypoints: https
      traefik.http.routers.it.tls.certresolver: greenhouse-resolver
      # SERVICE
      traefik.http.services.it.loadbalancer.server.port: 80
      # MIDDLEWARE
      traefik.http.routers.it.middlewares: authentik@docker

  pdf-tools:
    depends_on:
      ca-server:
        condition: service_healthy
    image: stirlingtools/stirling-pdf:2.3.1
    container_name: ${ENV}-pdf-tools
    scale: ${greenhouse_scale_pdf_tools:-0}
    networks:
      greenhouse-infra:
    environment:
      MODE: BOTH # Frontend and backend can be split <3
      SECURITY_ENABLELOGIN: ${greenhouse_pdf_enable_login:-false} 
      SECURITY_INITIALLOGIN_USERNAME: ${greenhouse_pdf_username:-gh}
      SECURITY_INITIALLOGIN_PASSWORD: ${greenhouse_pdf_pasword:-12345}
      SYSTEM_DEFAULTLOCALE: ${greenhouse_pdf_locale:-es-ES}
    volumes:
      - ${greenhouse_pdf_volume_tessdata:-${PWD}/pdf/${ENV}/tessdata}:/usr/share/tessdata
      - ${greenhouse_pdf_volume_configs:-${PWD}/pdf/${ENV}/configs}:/configs
      - ${greenhouse_pdf_volume_logs:-${PWD}/pdf/${ENV}/logs}:/logs
      - ${greenhouse_pdf_volume_pipeline:-${PWD}/pdf/${ENV}/pipeline}:/pipeline
      - ${greenhouse_ca_volume_certs:-${PWD}/step-ca/${ENV}/certs}:/usr/local/share/ca-certificates/
    labels:
      traefik.enable: true
      # ROUTER
      traefik.http.routers.pdf.rule: Host(`${greenhouse_pdf_tools_host:-pdf.${DOMAIN}}`)
      traefik.http.routers.pdf.entrypoints: https
      traefik.http.routers.pdf.tls.certresolver: greenhouse-resolver
      # SERVICE
      traefik.http.services.pdf.loadbalancer.server.port: 8080
      # MIDDLEWARE
      traefik.http.routers.pdf.middlewares: authentik@docker

  noip-sync:
    image: noipcom/noip-duc:3.3.0
    env_file: ${greenhouse_noip_env_file_path:-${PWD}/env/template/noip.env}
    container_name: ${ENV}-noip-sync
    scale: ${greenhouse_scale_noip_sync:-0}
    labels:
      traefik.enable: false

  nginx:
    image: nginx:1.25.3
    networks:
      greenhouse-infra:
        ipv4_address: ${greenhouse_nginx_static_pages_ip}
    container_name: ${ENV}-nginx-static-pages
    scale: ${greenhouse_scale_nginx:-1}
    volumes:
      - ${greenhouse_nginx_static_pages_volume_conf:-${PWD}/nginx/${ENV}/conf}:/etc/nginx/conf.d:ro
      - ${greenhouse_nginx_static_pages_volume_html:-${PWD}/nginx/${ENV}/html}:/usr/share/nginx/html
    restart: always
    labels:
      traefik.enable: true
      # ROUTER
      traefik.http.routers.nginx-static-pages.rule: Host(`${greenhouse_nginx_static_pages_host:-${DOMAIN}}`)
      traefik.http.routers.nginx-static-pages.entrypoints: https
      traefik.http.routers.nginx-static-pages.tls.certresolver: greenhouse-resolver
      # SERVICE
      traefik.http.services.nginx-static-pages.loadbalancer.server.port: 80
      # MIDDLEWARE

  whoami:
    image: traefik/whoami
    networks:
      greenhouse-infra:
        ipv4_address: ${greenhouse_traefik_whoami_ip}
    scale: ${greenhouse_scale_traefik_whoami:-1}
    restart: always
    labels:
      traefik.enable: true
      # ROUTER
      traefik.http.routers.whoami.rule: Host(`${greenhouse_traefik_whoami_host:-traefik.${DOMAIN}}`) && Path(`/whoami`)
      traefik.http.routers.whoami.entrypoints: https
      traefik.http.routers.whoami.tls.certresolver: greenhouse-resolver
      # SERVICE
      traefik.http.services.whoami-service.loadbalancer.server.port: 80
      # MIDDLEWARE

  # The official image does not support RPI, so I have to move to ertagh image.
  # I'm not happy but it has half million of downloads...
  teamspeak:
    image: ${greenhouse_teamspeak_image:-ertagh/teamspeak3-server}
    networks:
      greenhouse-infra:
        ipv4_address: ${greenhouse_teamspeak_ip}
    container_name: ${ENV}-teamspeak
    scale: ${greenhouse_scale_teamspeak:-0}
    ports:
      - ${greenhouse_teamspeak_port_voice:-9987}:9987/udp   # Voice
      - ${greenhouse_teamspeak_port_query:-10011}:10011     # ServerQuery
      - ${greenhouse_teamspeak_port_file:-30033}:30033      # File transfer
    environment:
      INIFILE: ${greenhouse_ts_initfile:-1}
      DIST_UPDATE: ${greenhouse_ts_dist_update:-0}
      TS_UPDATE: ${greenhouse_ts_update:-0}
      TS_UPDATE_BACKUP: ${greenhouse_ts_update_backup:-0}
    restart: always
    labels:
      traefik.enable: true