services:

  it-tools:
    image: corentinth/it-tools:2024.10.22-7ca5933
    container_name: ${ENV}-it-tools
    scale: ${greenhouse_scale_it_tools:-0}
    networks:
      greenhouse-infra:
        ipv4_address: ${greenhouse_it_tools_ip}
    labels:
      traefik.enable: true
      # ROUTER
      traefik.http.routers.it.rule: Host(`${greenhouse_it_tools_host:-it.${DOMAIN}}`)
      traefik.http.routers.it.entrypoints: https
      traefik.http.routers.it.tls.certresolver: greenhouse-resolver
      # SERVICE
      traefik.http.services.it-service.loadbalancer.server.port: 80
      # MIDDLEWARE

  pdf-tools:
    image: stirlingtools/stirling-pdf:2.1.5
    container_name: ${ENV}-pdf-tools
    scale: ${greenhouse_scale_pdf_tools:-0}
    networks:
      greenhouse-infra:
        ipv4_address: ${greenhouse_pdf_tools_ip}
    environment:
      SECURITY_ENABLELOGIN: false
      MODE: BOTH # Frontend and backend can be split <3
      LANGS: ${greenhouse_pdf_lenguage:-es_ES,en_GB}
    volumes:
      - ${greenhouse_pdf_volume_tessdata:-${PWD}/stirling-data/${ENV}/tessdata}:/usr/share/tessdata
      - ${greenhouse_pdf_volume_configs:-${PWD}/stirling-data/${ENV}/configs}:/configs
      - ${greenhouse_pdf_volume_logs:-${PWD}/stirling-data/${ENV}/logs}:/logs
      - ${greenhouse_pdf_volume_pipeline:-${PWD}/stirling-data/${ENV}/pipeline}:/pipeline
    labels:
      traefik.enable: true
      # ROUTER
      traefik.http.routers.pdf.rule: Host(`${greenhouse_pdf_tools_host:-pdf.${DOMAIN}}`)
      traefik.http.routers.pdf.entrypoints: https
      traefik.http.routers.pdf.tls.certresolver: greenhouse-resolver
      # SERVICE
      traefik.http.services.pdf-service.loadbalancer.server.port: 8080
      # MIDDLEWARE

  noip-sync:
    image: noipcom/noip-duc:3.3.0
    env_file: ${PWD}/env/noip/.${ENV}.env
    container_name: ${ENV}-noip-sync
    scale: ${greenhouse_scale_noip_sync:-0}
    labels:
      traefik.enable: false

  whoami:
    image: traefik/whoami
    networks:
      greenhouse-infra:
        ipv4_address: ${greenhouse_traefik_whoami_ip}
    scale: ${greenhouse_scale_traefik_whoami:-1}
    restart: always
    labels:
      traefik.enable: true
      # ROUTER
      traefik.http.routers.whoami.rule: Host(`${greenhouse_traefik_whoami_host:-traefik.${DOMAIN}}`) && Path(`/whoami`)
      traefik.http.routers.whoami.entrypoints: https
      traefik.http.routers.whoami.tls.certresolver: greenhouse-resolver
      # SERVICE
      traefik.http.services.whoami-service.loadbalancer.server.port: 80
      # MIDDLEWARE

  # The official image does not support RPI, so I have to move to ertagh image.
  # I'm not happy but it has half million o fdownloads...
  teamspeak:
    image: ${greenhouse_teamspeak_image:-ertagh/teamspeak3-server}
    networks:
      greenhouse-infra:
        ipv4_address: ${greenhouse_teamspeak_ip}
    container_name: ${ENV}-teamspeak
    scale: ${greenhouse_scale_teamspeak:-0}
    ports:
      - ${greenhouse_teamspeak_port_voice:-9987}:9987/udp   # Voice
      - ${greenhouse_teamspeak_port_query:-10011}:10011     # ServerQuery
      - ${greenhouse_teamspeak_port_file:-30033}:30033      # File transfer
    environment:
      INIFILE: 1
      DIST_UPDATE: 0
      TS_UPDATE: 0
      TS_UPDATE_BACKUP: 0
    restart: always
    labels:
      traefik.enable: true