#!/bin/bash

# SSH loggings
# To create a ssh key, run the command of below. Make sure on the path to define ~/.ssh/{KEY_NAME}
#
# > ssh-keygen -t ed25519
#
# After generating the key, you have to copy that key on the server with the next command. It will ask you for the password.
#
# > ssh-copy-id -i ~/.ssh/{KEY_NAME} {SERVER_USER}@{SERVER_IP}
# 
# All done. On the result it will provide you the command to do the login without credentials.
#
# > ssh -i ~/.ssh/{KEY_NAME} {SERVER_USER}@{SERVER_IP}

declare -A sshkeys
declare -A sships

# To add loggins here, just add the next values:
# sshusers=("USER_1" "USER_2" "USER_3" ... "USER_N")
# sshkeys=(
#   [{USER_1}]={KEY_PATH}
#   [{USER_2}]={KEY_PATH}
#   [{USER_3}]={KEY_PATH}
#   [{USER_N}]={KEY_PATH}
# )
# sships=(
#   [{USER_1}]={IP}
#   [{USER_2}]={IP}
#   [{USER_3}]={IP}
#   [{USER_N}]={IP}
# )

declare -A sshuser_lookup
for u in "${sshusers[@]}"; do
    sshuser_lookup[$u]=1
done

export CONFIG_IMPORTED=true